*{

}

body{
    display: grid;
    grid-template-areas:
    "cc cc cc"
    "ld cp cp"
    "pe pe pe";
background-color: grey;
}
body{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}


header{
    grid-area: cc;
    background-color: brown;
}

main{
    grid-area: cp;
    background-color: beige;
}

aside{
    grid-area: ld;
    background-color: yellow;
}

footer{
    grid-area: pe;
    background-color: blue;
}

/*-------------acima para o grid----------------------------*/
header{
    background-image: url(https://as1.ftcdn.net/v2/jpg/03/41/22/26/1000_F_341222612_AzstygeCtR6uQQbj5LVkbOK3X47H31Z3.jpg);
}