*{ 
    margin:0;

}

body{
    display: grid; /*organização em grid/ no  site todo*/
    grid-template-areas:
    "cc cc "
    "ld cp "
    "pe pe ";
    gap: 10px; /*espaços entre margem e borda*/
}
body{
    grid-template-columns: 40% auto;
    grid-template-rows: auto auto auto;
}
/* definir os tamanhos- auto*/

header{
    grid-area: cc;
}

main{
    grid-area: cp;
}

aside{
    grid-area: ld;
}

footer{
    grid-area: pe;   
}

/*-------------acima para o grid----------------------------*/
header{
    background-image: url(https://as1.ftcdn.net/v2/jpg/03/41/22/26/1000_F_341222612_AzstygeCtR6uQQbj5LVkbOK3X47H31Z3.jpg);
}
header, main, aside, footer{
    background-color: beige;
    padding: 15px;
}
/*definir cor de fundo; todos*/

body{
    background-color: rgb(31, 28, 28);
}
.imagens{ 
    height: auto; /*puxar do class*/
    width: 40%;
}
header{
    height: 70px; 
    width: auto;
}